#effect{
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
    margin: 0;
    background-color: red;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    top: 17vw;
    left:16vw;
    box-shadow: 0 0 1vw red,
                0 0 2vw red,
                0 0 3vw red,
                0 0 4vw red;
    opacity: 0;
}
#wave{
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
    margin: 0;
    background-color: red;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    top: 17vw;
    left:16vw;
    box-shadow: 0 0 1vw red,
                0 0 2vw red,
                0 0 3vw red,
                0 0 4vw red;
    display: none;
}
#wave2{
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
    margin: 0;
    background-color: lime;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    top: 17.5vw;
    right:17.5vw;
    box-shadow: 0 0 1vw lime,
                0 0 2vw lime,
                0 0 3vw lime,
                0 0 4vw lime;
    display: none;
}
#laser{
    width: 22vw;
    height: 0.1vw;
    padding: 0;
    margin: 0;
    background-color: red;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    top: 17.5vw;
    left:16vw;
    box-shadow:0 0 1vw red;
    opacity: 0;
}


#effect2{
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
    margin: 0;
    background-color: lime;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    top: 17.5vw;
    right:17.5vw;
    box-shadow: 0 0 1vw lime,
                0 0 2vw lime,
                0 0 3vw lime,
                0 0 4vw rgb(0, 255, 255);
    opacity: 0;
}

#laser2{
    width: 22vw;
    height: 0.1vw;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    top: 18vw;
    right:17.5vw;
    box-shadow:0 0 1vw rgb(0, 255, 255);
    opacity: 0;
}

#explosion{
    width: 10vw;
    height: 10vw;
    padding: 0;
    margin: 0;
    background-color: red;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    top: 10vw;
    left:10vw;
    box-shadow: 0 0 1vw red,
                0 0 2vw red,
                0 0 3vw red,
                0 0 4vw red;
    display: none;
}

#explosion2{
    width: 10vw;
    height: 10vw;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    top: 10vw;
    left:10vw;
    box-shadow: 0 0 1vw rgb(0, 255, 255),
                0 0 2vw rgb(0, 255, 255),
                0 0 3vw rgb(0, 255, 255),
                0 0 4vw rgb(0, 255, 255);
    display: none;
}

#p1name,#p1s,#lblScorep1 {
    color: red;
}
#p2name,#p2s,#lblScorep2 {
    color: rgb(0, 255, 255);
}
#theWinner{
    position: absolute;
    margin: 0;
    text-align: center;
    padding: 2vw 0px 0vw 0px ;
}