body{
    background-color: black;
    align-content: center;
    margin: auto;
    font-size: 2vw;
    overflow: hidden;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
}
#windowImage{
    height: auto;
    width: 50%;
    margin-top: 5vw;
    margin-left: 25vw;
}

.window{
    width: 100%;
    height: 50vw;
    position: absolute;
    z-index: 99;
    background-color: black;
    line-height: 40vw;
}

.window p{
    color: blanchedalmond;
    text-align: center;
    font-size: 5vw;
}


#titulo h1 {
    margin: 0;
    margin-left: 12%;
    padding: 1vw 0px 1vw 0px ;
    width: 33%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    float: left;
}
.casilla{
    float: left;
    margin: auto;
    height: 10.93vw;
    width: 10.93vw;
    background-color: black;
    border-style: solid;
    border-color:cornflowerblue ;
    border-width: 0.2vw;
    
}
.casilla img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.casilla:hover{
    box-shadow: inset 0 0 2vw cornflowerblue ;
    cursor: pointer;
}
.reiniciar{
	clear: both;
}
.figura{
    float: left;
    width: 33vw;
    height: 38.4vw;
    background-color: black;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.figura img{
    width: 80%;
}
.figura #player2Imagen{
    padding-left: 5vw;
}

.container{
    float: left;
}
.figura h2{
    margin: 0;
    background-color: black;
    color: blanchedalmond;
    width: 33vw;
    height: 5vw;
    text-align: center;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 0.2vw;
    padding: 2vw 0px 0vw 0px ;
}
#msg{
    background-color: black;
    width: 33.58vw;
    height: 4vw;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 0.2vw;
    color: blanchedalmond;
    text-align: center;
    line-height: 0.2vw;
    padding-top: 2vw;
    height: 2vw;
    box-shadow: inset 0 0 2vw red ;

}
.info{
    background-color: black;
    color: blanchedalmond;
    width: 33%;
    padding-top: 0.5vw;
    margin: 0;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 0.16vw;
    float: left;
    text-align: center;
}
#boton{
    margin: 0;
    padding: 2.5vw;
    width: 50%;
    position: absolute;
    top: 30vw;
    left: 25vw;
    border-radius:50%;
    background-color:black;
    color: blanchedalmond;
    border-style: solid;
    border-width: 0.5vw;
    border-color: cornflowerblue;
    font-size: 2vw;
}
#boton:hover{
    background-color: cornflowerblue;
    text-shadow: 0.3vw 0.3vw 0.5vw black;
    box-shadow: 0.3vw 0.3vw 0.2vw rgb(50, 64, 88);
}
#boton:active {
    background-color: rgb(55, 84, 138);
    box-shadow: inset 0.3vw 0.3vw 0.2vw rgb(50, 64, 88);
}

#player1{
    background-image: url("../img/hell.gif");
}
#player2{
    background-image: url("../img/water.gif");
}
#p2name:hover,#p1name:hover{
    cursor: pointer;
    color: white;
}
.control{
    margin: 0;
    padding: 1vw;
    margin-top: 1.6vw;
    margin-bottom: 2vw;
    width: 10%;
    margin-left: 12%;
    border-radius:50%;
    background-color:black;
    color: blanchedalmond;
    border-style: solid;
    border-width: 0.2vw;
    border-color: cornflowerblue;
    font-size: 1vw;
    font-weight: bold;
    float: left;
}
.control:hover{
    background-color: cornflowerblue;
    color: black;
    box-shadow: 0.3vw 0.3vw 0.2vw rgb(50, 64, 88);
}

#muted{

    box-shadow: inset 0 0 2vw chartreuse;
}